/* #################   STYLING THE BODY ################### */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', monospace;
  font-size: 14px;   /* try 12px–14px */
  cursor: url(../media/questionmark.png), auto;
}

.background-container {
  position: relative;
  background-image: url('../media/tuplan.png');
  background-size: cover;
  height: 1829px;
  width: 3308px;
}

.positioned-element,
.pinbox {
  position: absolute;
  width: 75px;
  height: 75px;
  opacity: 0.9;
  font-size: 3em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("../media/exclamationmark.png"), auto;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.pinbox:hover {
  transform: scale(1.5);
}

.pinbox img {
  scale: 0.4;
}

#player {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: 0.2s;
  background-image: url('../media/running.gif');
  background-size: cover;
}

/* ########### Animation if wrong password was given ############## */
#wrongpsw {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

/* ########### no line when clicking on the input field ######## */
input:focus {
  outline: none;
  box-shadow: none;
}

/* ###########   styling  the input fields ############## */
.input-fields {
  font-family: 'Press Start 2P', monospace;
  font-size: 7px;   /* try 12px–14px */
  background-color: #d0d7e1;
  border-radius: 2px;
  border-top: 5px solid white;
  border-left: 6px solid white;
  border-right: 0;
  border-bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: black;
  transform: skew(0deg, -7.3deg);
  scale: 0.8;
  cursor: url("../media/exclamationmark.png"), auto;
  transition: transform 0.1s ease;
}

.input-fields:hover {
  transform: skew(0deg, -7.3deg) scale(1.1);
}

/* ############# styling of the image overlay  ################## */
.image-overlay {
  position: fixed;
  top: 30%;
  left: 40%;
  width: 200px;
  height: 180px;
  padding: 20px;
  text-align: center;
  scale: 2;
  background-image: url("../media/box_overlay.png");
  background-size: cover;
}

.boxshadow {
  background-color: black;
  opacity: 0.7;
  border-radius: 30px;
  position: absolute;
  top: 130%;
  width: 170px;
  height: 100px;
  transform: skew(-45deg) rotate(14deg) scale(1.1, 0.9) translateX(20px);
  scale: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pinpointshadow {
  scale: 0.2;
  transform: translateX(-6px) translateY(-10px);
  border-radius: 50%;
}

.blackbox {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
}

.hideme {
  display: none;
}

.cloud {
  position: fixed;
  top: 60%;
  left: -10%;
  transition: transform 0.3s ease;
  width: 225px;
  height: 178px;
  font-size: 12px;
  line-height: 1.5;
}

.cloud img {
  position: relative;
  scale: 0.5;
}

.cloud-shadow {
  position: absolute;
  left: 75%;
  top: 170%;
  border-radius: 50%;
  scale: 0.5;
}

.cloud:hover {
  transform: scale(1.5);
}

#speech {
  position: absolute;
  width: 350px;
  height: 380px;
  top: -170%;
  left: 180%;
  padding: 70px 20px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 20% 20% 20% 0;
  background: darkgray;
  border: 4px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("../media/exclamationmark.png"), auto;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  pointer-events: none;
}

#speech:hover {
  opacity: 1;
}

/* ##########  styling the scroll bar ############## */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #fbfdfa;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f3cd0a;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #f3cd0a;
}